<div class="notification_container">
  <% visitor = notification.visitor %>
  <li class="col-md-8 col-md-offset-2">
    <div class="form-inline">
      <%= link_to user_path(visitor) do %>
        <%= gravatar_for(visitor, size: 30) %>
        <strong>
        <%=  visitor.name %>
        </strong>
      <% end %>
      <%= 'さんが' %>
      <% case notification.action %>
      <% when 'follow' then %>
        <%= 'あなたをフォローしました。' %>
      <% when 'like' then %>
        <strong>
          <%= link_to 'あなたの投稿', notification.micropost %>
        </strong>
        <%= 'にいいねしました。' %>
      <% when 'comment' then %>
        <strong>
          <%= link_to 'あなたの投稿', notification.micropost %>
        </strong>
        <%= 'にコメントしました。' %>
        <p class="text-muted mb-0">
          <%= notification.comment.content %>
        </p>
      <% end %>
      <p>
        <%= time_ago_in_words(notification.created_at) %> 
      </p>
    </div>
  </li>
</div>