<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= link_to @user do %>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      <% end %>
      <div class="follow_button_container">
        <%= render 'follow_form' if logged_in? %>
      </div>
      <%# 相互フォローの場合のみトークリンク表示 %>
      <% unless @user.id == current_user.id %>
        <% if current_user.following?(@user) && @user.following?(current_user) %>
        <% if @isRoom == true %>
          <p class="user-show-room"><%= link_to "メッセージを送る", @RoomPresent, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "メッセージを送る", class: "btn btn-primary btn-md user-show-chat" %>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <% if current_user?(@user)%>
        <a href="<%= likes_user_path(@user) %>" class="like-posts">お気に入り</a>
    <% end %>
    <% if @user.introduction.present? %>
      <section class="introduction">
        <h4>プロフィール</h4>
        <div class="content">
          <%= @user.introduction %>
        </div>
      </section>
    <% end %>
  </aside>
  <div class="col-md-9 row" id="show_microposts">
    <% if @microposts.any? %>
      <h3><%= @title %></h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
      <h3>投稿はありません</h3>
    <% end %>
  </div>
</div>