<% provide(:title, @user.username) %>
<div class="row user-show_row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= link_to @user do %>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.user_name %>
        </h1>
      <% end %>
      <div class="follow_button_container">
        <%= render 'follow_form' if logged_in? %>
      </div>
      <%# 相互フォローの場合のみトークリンク表示 %>
      <% unless @user.id == current_user.id %>
        <% if current_user.following?(@user) && @user.following?(current_user) %>
        <% if @isRoom == true %>
          <%= link_to "メッセージを送る", @RoomPresent, class: "btn btn-default btn-sm" %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "メッセージを送る", class: "btn btn-default btn-sm" %>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </section>
    <% if current_user?(@user)%>
      <a href="<%= likes_user_path(@user) %>" class="user-side_button">お気に入り</a>
    <% end %>
    <section class="introduction">
      <div class="introduction-content">
        <h4>名前</h4>
        <div class="content">
          <%= @user.name %>
        </div>
      </div>
      <div class="introduction-content">
        <h4>WEBサイト</h4>
        <div class="content">
          <%= @user.web == nil ? "-" : @user.web %>
        </div>
      </div>
      <div class="introduction-content">
        <h4>プロフィール</h4>
        <div class="content">
          <%= @user.introduction == nil ? "-" : @user.introduction %>
        </div>
      </div>
    </section>
  </aside>
  <div class="col-md-9 row" id="show_microposts">
    <% if @microposts.any? %>
      <div class="show_microposts-title">
        <h3><%= @title %></h3>
      </div>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
      <h3>投稿はありません</h3>
    <% end %>
  </div>
</div>