<% provide(:title, "ダイレクトメッセージ") %>
<h4 class="rooms-title">ルーム</h4>
<% @entries.each do |e| %>
  <div class="room-user">
    <strong>
      <%= gravatar_for(e.user, size: 30) %>
      <%= link_to e.user.name, e.user, class: "room-user-name" %>さん
    </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= gravatar_for(m.user, size: 30) %>
          </div>
          <div class="chat-hukidashi">
            <strong><%= m.content%></strong>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="chat-form">
    <%= form_for @message do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを書く...", size: 90, class: "form-text-field"  %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: "form-submit" %>
    <% end %>
  </div>
</div>
